* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px;
	top: 0;
	left: 0;
	right: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.header-tabs {
	display: flex;
	gap: 10px;
}

.tab{
	font-size: 16px;
	font-weight: 500;
	color: #ffffff80;
}

.for-you {
	color: #fff;
	font-weight: 700;
}

.follower{
	position: relative;
}

.puntino{
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #FF000080;
	border-radius: 50%;
	margin-left: 6px;
	vertical-align: text-top;
	position: absolute;
	left: 45px;
	bottom: 25px;	
}

.linea{
	display: block;
	width: 24px;
    height: 2px;
	background-color: #fff;
	margin: 2px auto 0;
}

/* Footer */

/*footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
}
	/* Inserisci qui sotto 
	le tue regole, se necessario. */


/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	max-width: 20px;
}
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
.logo-container{
	position: relative;
	display: inline-block;
}

.logo-account{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid white;
	margin-top: 40px;
}

.logo-account img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cerchio-rosso{
	position: absolute;
	top: 70px;
    left: 37%;
	width: 16px;
	height: 16px;
	background-color: red;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	

}

.sidebar-tabs i{
	color: #fff;
	font-size: 24px;

	
}
.sidebar-tabs{
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 20px;
	margin-top: 20px;
}

.sidebar-tabs h2{
	font-size: x-small;
	font-weight: 100;
}
/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
